@model ResultProductPriceDto
@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Layout/LayoutIndex.cshtml";
    var productId = Model.ProductID;
   // var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    var userId = "3fe7b6fa-82fc-46ba-9087-c9590673aa51";
    var productPriceId = Model.PriceID;
    var appSettings = Context.RequestServices.GetRequiredService<IOptions<AppSettings>>().Value;
    var apiUrl = appSettings.ApiBasketAddUrl;
    var apiurl1 = appSettings.ApiGetProductDimensionUrl;
    var apiurl2 = appSettings.ApiUserBasketUrl;

}
<input type="hidden" id="apiUrl" value="@apiUrl" />
<div class="page-content">
    <div class="container">
        <div class="product-details-top mb-2">
            <div class="row">
                <div class="col-md-6">
                    <div class="product-gallery">
                        <figure class="product-main-image">
                            <img id="product-zoom" src="@Model.Product.ProductImage" data-zoom-image="@Model.Product.ProductImage" alt="product image">

                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                <i class="icon-arrows"></i>
                            </a>
                        </figure><!-- End .product-main-image -->

                        <div id="product-zoom-gallery" class="product-image-gallery">

                            <a class="product-gallery-item" href="#" data-image="@Model.Product.ProductImage1" data-zoom-image="@Model.Product.ProductImage1">
                                <img src="@Model.Product.ProductImage1" alt="product side">
                            </a>

                            <a class="product-gallery-item" href="#" data-image="@Model.Product.ProductImage2" data-zoom-image="@Model.Product.ProductImage2">
                                <img src="@Model.Product.ProductImage2" alt="product cross">
                            </a>

                            <a class="product-gallery-item active" href="#" data-image="@Model.Product.ProductImage3" data-zoom-image="@Model.Product.ProductImage3">
                                <img src="@Model.Product.ProductImage3" alt="product with model">
                            </a>



                        </div><!-- End .product-image-gallery -->
                    </div><!-- End .product-gallery -->
                </div><!-- End .col-md-6 -->

                <div class="col-md-6">
                    <div class="product-details">
                        <h1 class="product-title">@Model.Product.ProductName</h1><!-- End .product-title -->

                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Değerlendirme )</a>
                        </div><!-- End .rating-container -->

                        <div class="product__stock font-weight-bold mb-1">
                         Stok: Stok Miktarı İçin Ebat Ve Renk Seçin
                        </div><!-- End .product-price -->
                        
                        <div class="product-price">
                            @Model.price ₺
                        </div><!-- End .product-price -->

                        <div class="product-content">
                            <p>@Model.Product.ProductDescription </p>
                        </div><!-- End .product-content -->

                        <div class="details-filter-row details-row-size">
                            <label>Renkler:</label>

                            <div class="product-nav product-nav-dots">
                                @await Component.InvokeAsync("_ProductPropColor", new { productID = Model.ProductID })
                            </div><!-- End .product-nav -->

                        </div><!-- End .details-filter-row -->

                        <div class="details-filter-row details-row-size">
                            <label for="size">Ebat:</label>
                            <div class="select-custom">

                                @await Component.InvokeAsync("_ProductPropDimensions", new { productID = Model.ProductID })


                            </div><!-- End .select-custom -->
                            @*    <a href="#" class="size-guide"><i class="icon-th-list"></i>size guide</a> *@

                        </div><!-- End .details-filter-row -->

                        <div class="details-filter-row details-row-size">
                            <label for="qty">Adet:</label>
                            <div class="product-details-quantity">

                                <input type="number" id="qty" class="form-control quantity__number" value="1" min="1"  step="1" data-decimals="0" required>

                            </div><!-- End .product-details-quantity -->
                        </div><!-- End .details-filter-row -->

                        <div class="product-details-action">
                            <a  class="basketAdd1  btn-product btn-cart"><span>sepete ekle</span></a>

                            <div class="details-action-wrapper">
                                <a href="#" class="btn-product btn-wishlist" title="Favoriye Ekle"><span>Favoriye Ekle</span></a>
                                @*    <a href="#" class="btn-product btn-compare" title="Compare"><span>Add to Compare</span></a> *@
                            </div><!-- End .details-action-wrapper -->
                        </div><!-- End .product-details-action -->

                        <div class="product-details-footer">

                            @await Component.InvokeAsync("_ProductPropCategory", new { productID = Model.ProductID })

                            <div class="social-icons social-icons-sm">
                                <span class="social-label">Share:</span>
                                <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                            </div>
                        </div><!-- End .product-details-footer -->
                    </div><!-- End .product-details -->
                </div><!-- End .col-md-6 -->

            </div><!-- End .row -->
        </div><!-- End .product-details-top -->

    </div><!-- End .container -->

    <div class="product-details-tab product-details-extended">
        <div class="container">
            <ul class="nav nav-pills justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Açıklama</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Kullanım Şekli</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">İade Koşulları</a>
                </li>
                @*   <li class="nav-item">
                <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews (2)</a>
                </li> *@
            </ul>
        </div><!-- End .container -->

        <div class="tab-content">
            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                <div class="product-desc-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3" style="    background: no-repeat;   height: 400px;  background-size: contain; background-position: center; background-image: url('@Model.Product.ProductImage')">
                                <!-- No need for additional div for background image -->
                            </div><!-- End .col-md-3 -->
                            <div class="col-md-9 mt-3">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-4">
                                        <h2 style="margin-top: 0;">Özellikler</h2>
                                        <ul>
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                            <li>4</li>
                                            <li>Heel Height: 7cm / 2.5 inches</li>
                                        </ul>
                                    </div><!-- End .col-lg-4 -->
                                </div><!-- End .row -->
                            </div><!-- End .col-md-9 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .product-desc-content -->
            </div><!-- .End .tab-pane -->

            <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                <div class="product-desc-content">
                    <div class="container">
                        <h3>@Model.Product.ProductName</h3>
                        <p>
                            @Model.Product.ProductUseGuide
                        </p>


                        @*
                        <h3>Size</h3>
                        <p>one size</p> *@
                    </div><!-- End .container -->
                </div><!-- End .product-desc-content -->
            </div><!-- .End .tab-pane -->
            <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                <div class="product-desc-content">
                    <div class="container">
                        <h3>Delivery & returns</h3>
                        <p>
                            We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                            We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a>
                        </p>
                    </div><!-- End .container -->
                </div><!-- End .product-desc-content -->
            </div><!-- .End .tab-pane -->
            <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                <div class="reviews">
                    <div class="container">
                        <h3>Reviews (2)</h3>
                        <div class="review">
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <h4><a href="#">Samanta J.</a></h4>
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                    </div><!-- End .rating-container -->
                                    <span class="review-date">6 days ago</span>
                                </div><!-- End .col -->
                                <div class="col">
                                    <h4>Good, perfect size</h4>

                                    <div class="review-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum dolores assumenda asperiores facilis porro reprehenderit animi culpa atque blanditiis commodi perspiciatis doloremque, possimus, explicabo, autem fugit beatae quae voluptas!</p>
                                    </div><!-- End .review-content -->

                                    <div class="review-action">
                                        <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                        <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                    </div><!-- End .review-action -->
                                </div><!-- End .col-auto -->
                            </div><!-- End .row -->
                        </div><!-- End .review -->

                        <div class="review">
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <h4><a href="#">John Doe</a></h4>
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                    </div><!-- End .rating-container -->
                                    <span class="review-date">5 days ago</span>
                                </div><!-- End .col -->
                                <div class="col">
                                    <h4>Very good</h4>

                                    <div class="review-content">
                                        <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum blanditiis laudantium iste amet. Cum non voluptate eos enim, ab cumque nam, modi, quas iure illum repellendus, blanditiis perspiciatis beatae!</p>
                                    </div><!-- End .review-content -->

                                    <div class="review-action">
                                        <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                                        <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                    </div><!-- End .review-action -->
                                </div><!-- End .col-auto -->
                            </div><!-- End .row -->
                        </div><!-- End .review -->
                    </div><!-- End .container -->
                </div><!-- End .reviews -->
            </div><!-- .End .tab-pane -->
        </div><!-- End .tab-content -->
    </div><!-- End .product-details-tab -->
    @await Component.InvokeAsync("_ProductDetailsSlider")




</div><!-- End .page-content -->
<!-- Related items section-->



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>


    var StockQuantity = 0;
    $('.basketAdd1').click(function () {
        var apiUrl = $("#apiUrl").val();
      
        var count = $(".quantity__number").val();
  
    
        // if (!userId) {
        //     toastr.warning('Lütfen sepete eklemek için giriş yapın!', { position: "toast-top-end" });
        //     return;
        // }


        var dto = {
            UserID: '@Html.Raw(userId)',
            Count: count,
            PriceID: @Html.Raw(productPriceId),

        };    
       
        if (count > StockQuantity) {
            Swal.fire({
                icon: 'warning',
                title: 'Stoktan fazla Ekleme Yapamazsiniz!',
                position: "top-end",
                timer: 1000,
                showConfirmButton: false
            });
            return;
        }
     
        $.ajax({
            type: 'POST',
            url: apiUrl,
            contentType: 'application/json',
            data: JSON.stringify(dto),
            success: function (response) {

                $.ajax({
                    type: 'GET',
                    url: '@Html.Raw(apiurl2)' + "/" + '@Html.Raw(userId)',
                    success: function (getResponse) {
                        $(".cart-count").text(getResponse[0].count);
                    }
                });

                Swal.fire({
                    icon: 'success',
                    title: 'Sepete Eklendi!',
                    position: "top-end",
                    timer: 1000,
                    showConfirmButton: false
                });

            },
            error: function (xhr, status, error) {
                if (xhr.status == 404) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Beklenmeyen bir hata oluştu!',
                        position: "top-end",
                        timer: 1000,
                        showConfirmButton: false
                    });

                   
                }
                if (xhr.status == 401) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'İşlemi Yapmak İçin Giriş Yapmalısın!',
                        position: "top-end",
                        timer: 1000,
                        showConfirmButton: false
                    });

                    toastr.warning('', { position: "toast-top-end" });
                }
                if (xhr.status == 400) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Stoktan fazla Ekleme Yapamazsiniz!',
                        position: "top-end",
                        timer: 1000,
                        showConfirmButton: false
                    });

                    
                }
            }
        });
    });




    $(document).ready(function () {
        // Seçilen boyut ve renk id'lerini saklayacak değişkenler
        var selectedDimensionId;
        var selectedColorId;
        var productPrice;

        // Boyut butonlarına click olayı ekle
        $("#size").change(function () {
            // Get the selected value of the <select> element
            selectedDimensionId = $(this).val();
            console.log(selectedDimensionId);
            // Call the function to send AJAX request with the selected value
            sendAjaxRequest();
        });

        // Renk butonlarına click olayı ekle
        $(".color").click(function () {
            // Seçilen butonun data-color-id özelliğini al
            selectedColorId = $(this).data("color-id");
            console.log(selectedColorId);
            // Seçilen boyut ve renk id'lerini kontrol et ve AJAX isteğini gönder
            sendAjaxRequest();
        });

        // AJAX isteğini gönderen fonksiyon
        function sendAjaxRequest() {
            // Her iki parametre de tanımlıysa AJAX isteğini gönder
            if (selectedDimensionId !== undefined && selectedColorId !== undefined) {
                var productID = @Html.Raw(productId); // Bu kısmı kendi productID'nizle doldurun
                var dto = {
                    ProductID: productID,
                    ColorID: selectedColorId,
                    DimensionsID: selectedDimensionId,
                    StockQuantity: 0
                };
                console.log(dto);

                $.ajax({
                    type: 'POST',
                    url: '@Html.Raw(apiurl1)', // Replace this with your API URL
                    contentType: 'application/json',
                    data: JSON.stringify(dto),
                    success: function (response) {
                        // Successful response
                        productPriceID = response.priceID;
                        StockQuantity = response.stockQuantity;
                       
                        $(".product-price").text(response.price + " ₺");
                        $(".product__stock").text(StockQuantity + " Adet");
                    },
                    error: function (xhr, status, error) {
                        // Hata durumu
                        if (xhr.status == 404) {
                            toastr.error('Beklenmeyen bir hata oluştu!', { position: "toast-top-end" });
                        }
                        if (xhr.status == 401) {
                            toastr.warning('İşlemi Yapmak İçin Giriş Yapmalısın!', { position: "toast-top-end" });
                        }
                        if (xhr.status == 400) {
                            toastr.warning('Bu Daha Önce Kaldırılmış!', { position: "toast-top-end" });
                        }
                    }
                });
            }
        }
    });


    
</script>



@* // $(".dimension").on("click", function (e) {
    //     e.preventDefault();
    //     var dimensionID = $(this).attr("data-dimension-id");

    //     $.get("/Product/GetProductDimension/" + dimensionID)
    //         .done(function (data) {

    //             $(".block_price__currency").text(data + "₺")
    //         })
    //         .fail(function (xhr, status, error) {

    //             if (xhr.status == 404) {
    //                 toastr.error('Beklenmeyen bir hata oluştu!', { position: "toast-top-end" });
    //             }
    //             if (xhr.status == 401) {
    //                 toastr.warning('İşlemi Yapmak İçin Giriş Yapmalısın!', { position: "toast-top-end" });
    //             }
    //             if (xhr.status == 400) {
    //                 toastr.warning('Bu Anime Favori Listenden Daha Önce Kaldırılmış!', { position: "toast-top-end" });
    //             }
    //         });
    // }); *@

@*      // var dimensionId = $(".dimension").data("dimension-id");
        // var colorID;

        // $('input[name="colorOfItem"]').each(function () {
        //     if ($(this).is(':checked')) {
        //         var selectedColorID = $(this).attr('id').replace('radioColor_', '');

        //         colorID = selectedColorID; // colorID ayarlayın
        //     }
        // }); *@