@model List<ResultProductCategoryDto>

@{
    var categoryName = Model.DistinctBy(x => x.category.Name);
    var userID = "3fe7b6fa-82fc-46ba-9087-c9590673aa51";
    var userID1 = User.Identity.Name;
}



<header class="header header-7">
    @if (User.Identity.IsAuthenticated==false)
    {
        <div class="header-top">
            <div class="container">


                <div class="header-right">

                    <ul class="top-menu">
                        <li>
                            <a href="#">Links</a>
                            <ul>

                                <li><a href="/account/signin">Giriş Yap / Üye Ol</a></li>
                            </ul>
                        </li>
                    </ul><!-- End .top-menu -->
                </div><!-- End .header-right -->

            </div><!-- End .container -->
        </div>
        <!-- End .header-top -->
    }
  

    @* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@

    <div class="header-middle sticky-header">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="index.html" class="logo">
                    <img src="molla/assets/images/demos/demo-11/logo.png" alt="Molla Logo" width="82" height="25">
                </a>
            </div><!-- End .header-left -->

            <div class="header-right">

                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="/" class="sf-with-ul">Anasayfa</a>
                        </li>
                        <li>
                            <a href="category.html" class="sf-with-ul">Kategoriler</a>

                            <div class="megamenu megamenu-md">
                                <div class="row no-gutters">
                                    <div class="col-md-8">
                                        <div class="menu-col">
                                            <div class="row">
                                                @foreach (var cate in categoryName)
                                                {
                                                    <div class="col-md-6">
                                                        <div class="menu-title">@cate.category.Name</div><!-- End .menu-title -->
                                                        <ul>
                                                            @foreach (var item in Model.Where(x=>x.category.Name.Contains(cate.category.Name)))
                                                            {
                                                                if (item.parentSubCategory?.Name!=null)
                                                                {
                                                                    <li><a class="icon-arrow-right" href="category-list.html">@item.parentSubCategory?.Name</a></li>
                                                                }
                                                              
                                                            }
                                                        </ul>
                                                    </div>
                                                    <!-- End .col-md-6 -->
                                                }




                                            </div><!-- End .row -->
                                        </div><!-- End .menu-col -->
                                    </div><!-- End .col-md-8 -->


                                </div><!-- End .row -->
                            </div><!-- End .megamenu megamenu-md -->
                        </li>
                      
                        <li>
                            <a href="product.html" class="sf-with-ul">Product</a>

                            <div class="megamenu megamenu-sm">
                                <div class="row no-gutters">
                                    <div class="col-md-6">
                                        <div class="menu-col">
                                            <div class="menu-title">Product Details</div><!-- End .menu-title -->
                                            <ul>
                                                <li><a href="product.html">Default</a></li>
                                                <li><a href="product-centered.html">Centered</a></li>
                                                <li><a href="product-extended.html"><span>Extended Info<span class="tip tip-new">New</span></span></a></li>
                                                <li><a href="product-gallery.html">Gallery</a></li>
                                                <li><a href="product-sticky.html">Sticky Info</a></li>
                                                <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                                                <li><a href="product-fullwidth.html">Full Width</a></li>
                                                <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                                            </ul>
                                        </div><!-- End .menu-col -->
                                    </div><!-- End .col-md-6 -->


                                </div><!-- End .row -->
                            </div><!-- End .megamenu megamenu-sm -->
                        </li>
                        <li>
                            <a href="#" class="sf-with-ul">Pages</a>

                            <ul>
                                <li>
                                    <a href="about.html" class="sf-with-ul">About</a>

                                    <ul>
                                        <li><a href="about.html">About 01</a></li>
                                        <li><a href="about-2.html">About 02</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html" class="sf-with-ul">Contact</a>

                                    <ul>
                                        <li><a href="contact.html">Contact 01</a></li>
                                        <li><a href="contact-2.html">Contact 02</a></li>
                                    </ul>
                                </li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                                <li><a href="404.html">Error 404</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog.html" class="sf-with-ul">Blog</a>

                            <ul>
                                <li><a href="blog.html">Classic</a></li>
                                <li><a href="blog-listing.html">Listing</a></li>
                                <li>
                                    <a href="#">Grid</a>
                                    <ul>
                                        <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                        <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                        <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                        <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Masonry</a>
                                    <ul>
                                        <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                        <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                        <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                        <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Mask</a>
                                    <ul>
                                        <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                        <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Single Post</a>
                                    <ul>
                                        <li><a href="single.html">Default with sidebar</a></li>
                                        <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                        <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="elements-list.html" class="sf-with-ul">Elements</a>

                            <ul>
                                <li><a href="elements-products.html">Products</a></li>
                                <li><a href="elements-typography.html">Typography</a></li>
                                <li><a href="elements-titles.html">Titles</a></li>
                                <li><a href="elements-banners.html">Banners</a></li>
                                <li><a href="elements-product-category.html">Product Category</a></li>
                                <li><a href="elements-video-banners.html">Video Banners</a></li>
                                <li><a href="elements-buttons.html">Buttons</a></li>
                                <li><a href="elements-accordions.html">Accordions</a></li>
                                <li><a href="elements-tabs.html">Tabs</a></li>
                                <li><a href="elements-testimonials.html">Testimonials</a></li>
                                <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                                <li><a href="elements-portfolio.html">Portfolio</a></li>
                                <li><a href="elements-cta.html">Call to Action</a></li>
                                <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                            </ul>
                        </li>

                        <li class="megamenu-container ">
                            <a href="/contact/index" class="sf-with-ul">İletişim</a>


                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->

                <div class="header-search">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper">
                            <label for="q" class="sr-only">Search</label>
                            <input type="search" class="form-control" name="q" id="q" placeholder="Ürün Ara..." required>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->

             
               @if (User.Identity.IsAuthenticated)
                {
                    <a href="/" class="wishlist-link">
                        <i class="icon-user"></i>

                    </a>
                }

                <a href="/Profile/FavoriList" class="wishlist-link">
                    <i class="icon-heart-o"></i>
                    <span class="wishlist-count">3</span>
                </a>
                @await Component.InvokeAsync("_NavbarBasketList")

            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
</header>
<!-- End .header -->


@* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@





@* 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script>
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').mouseenter(function () {
            $(this).next('.dropdown-menu').toggle('fade'); /* Açılma efekti ekleyelim */
        });

        $('.dropdown-menu').mouseleave(function () {
            $(this).toggle('fade'); /* Kapatma efekti ekleyelim */
        });
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $(".iframe").click(function () {
            var userid = "";
            var iframeURL = `Basket/BasketList/${userid}`;

       var userid = @Html.Raw(userId);; 


                $.colorbox({
                    iframe: true,
                    href: iframeURL,
                    width: "90%",
                    height: "95%",
                    onComplete: function () {

                        var iframe = $(".iframe1");
                        iframe.on("load", function () {


                        });


                        $(".home__section").css("opacity", "0.4");
                    },
                    onClosed: function () {

                        $(".home__section").css("opacity", "1");
                    }
                });
        });
    });

</script>
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').click(function () {
            $(this).next('.dropdown-menu').toggle('fade'); /* Açılma efekti  */
        });
    });
</script>


<!-- Bootstrap 5 JS -->
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'></script>

<script>
    document.addEventListener('click', function (e) {
        // Hamburger menu
        if (e.target.classList.contains('hamburger-toggle')) {
            e.target.children[0].classList.toggle('active');
        }
    })
</script>






 *@


















































@* <div class="row bg-transparent position-absolute navbar__custom" style="z-index:2">
    <div class="col-md-1">
        <div class="header__logo">
            <a href="/Home">
                <img class="border-0" src="~/B2B/img/logo .png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-5 ">
        <div class="s004 bg-transparent ">
            <div class="form legend">
                <fieldset>

                    <div class="inner-form">
                        <div class="input-field">
                            <input style="cursor: auto; border-color: white;" name="query" class="rounded-2 form-control bg-transparent border-1 btn btn-light text-white" id="query" type="text" placeholder="Ürün arayın...">
                            <button class="btn-search bg-transparent" onclick="search()">
                                <svg x="0px" y="0px" width="15" height="15" viewBox="0 0 72 72">
                                    <path d="M 31 11 C 19.973 11 11 19.973 11 31 C 11 42.027 19.973 51 31 51 C 34.974166 51 38.672385 49.821569 41.789062 47.814453 L 54.726562 60.751953 C 56.390563 62.415953 59.088953 62.415953 60.751953 60.751953 C 62.415953 59.087953 62.415953 56.390563 60.751953 54.726562 L 47.814453 41.789062 C 49.821569 38.672385 51 34.974166 51 31 C 51 19.973 42.027 11 31 11 z M 31 19 C 37.616 19 43 24.384 43 31 C 43 37.616 37.616 43 31 43 C 24.384 43 19 37.616 19 31 C 19 24.384 24.384 19 31 19 z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>

                </fieldset>
            </div>
            <!-- Arama sonuçları  -->
            <div id="searchResultsContainer" class="center"></div>

        </div>
    </div>
    <div class="header__nav bg-transparent col-md-6">
        <nav class="header__menu mobile-menu ">
            <ul>
                <li class="@(ViewBag.ActivePage == "Animeler" ? "active" : "")"><a href="/Animeler/Index/"><i class="fa fa-home"></i> Anasayfa</a></li>
                <li><a class="iframe" href="#"><i class="fa fa-cart-plus"></i> Sepetim</a></li>
                <li><a href="/Account/SignUp"><i class="fa fa-user-plus"></i> Üye Ol</a></li>
                <li><a href="/Account/SignIn"><i class="fa fa-user-circle"></i> Giriş Yap</a></li>
                <li><a href="/Contact"><i class="fa fa-address-book"></i> İletişim</a></li>


            </ul>
        </nav>
    </div>

    <div class="header__nav bg-transparent col-md-12 container d-flex justify-content-start">
        <nav class="header__menu mobile-menu ">
            <ul>


                @foreach (var item in Model)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" style=" text-decoration: none;">@item.category.Name</a>
                        <div class="dropdown-menu mega-menu shadow">
                            <!-- Mega menü -->
                            @if (@item.parentSubCategory != null)
                            {
                                <ul>
                                    <li class="dropend">
                                        <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">@item.parentSubCategory?.Name</a>
                                        @if (@item.ChildSubCategory != null)
                                        {
                                            <ul class="dropdown-menu shadow">
                                                <li class="dropend">
                                                    <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">@item.ChildSubCategory?.Name</a>
                                                </li>
                                            </ul>
                                        }

                                    </li>
                                </ul>
                            }


                        </div>
                    </li>
                }


            </ul>
        </nav>
    </div>






</div> *@