@model List<ResultProductCategoryDto>

  



<div class="row bg-transparent position-absolute navbar__custom" style="z-index:2" >
    <div class="col-md-1">
        <div class="header__logo">
            <a href="/Home">
                <img class="border-0" src="~/B2B/img/logo .png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-5 ">
        <div class="s004 bg-transparent ">
            <div class="form legend">
                <fieldset>

                    <div class="inner-form">
                        <div class="input-field">
                            <input style="cursor: auto;" name="query" class="rounded-2 form-control bg-transparent border-1 btn btn-light text-white" id="query" type="text" placeholder="Ürün arayın...">
                            <button class="btn-search bg-transparent" onclick="search()">
                                <svg x="0px" y="0px" width="15" height="15" viewBox="0 0 72 72">
                                    <path d="M 31 11 C 19.973 11 11 19.973 11 31 C 11 42.027 19.973 51 31 51 C 34.974166 51 38.672385 49.821569 41.789062 47.814453 L 54.726562 60.751953 C 56.390563 62.415953 59.088953 62.415953 60.751953 60.751953 C 62.415953 59.087953 62.415953 56.390563 60.751953 54.726562 L 47.814453 41.789062 C 49.821569 38.672385 51 34.974166 51 31 C 51 19.973 42.027 11 31 11 z M 31 19 C 37.616 19 43 24.384 43 31 C 43 37.616 37.616 43 31 43 C 24.384 43 19 37.616 19 31 C 19 24.384 24.384 19 31 19 z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>

                </fieldset>
            </div>
            <!-- Arama sonuçları  -->
            <div id="searchResultsContainer" class="center"></div>

        </div>
    </div>
    <div class="header__nav bg-transparent col-md-6">
        <nav class="header__menu mobile-menu ">
            <ul>
                <li class="@(ViewBag.ActivePage == "Animeler" ? "active" : "")"><a href="/Animeler/Index/"><i class="fa fa-home"></i> Anasayfa</a></li>
                <li><a class="iframe" href="#"><i class="fa fa-cart-plus"></i> Sepetim</a></li>
                <li><a href="/Account/SignUp"><i class="fa fa-user-plus"></i> Üye Ol</a></li>
                <li><a href="/Account/SignIn"><i class="fa fa-user-circle"></i> Giriş Yap</a></li>
                <li><a href="/Contact"><i class="fa fa-address-book"></i> İletişim</a></li>
              

            </ul>
        </nav>
    </div>

    <div class="header__nav bg-transparent col-md-12 container d-flex justify-content-start">
        <nav class="header__menu mobile-menu ">
            <ul>
              

                @foreach (var item in Model)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" style=" text-decoration: none;">@item.category.Name</a>
                        <div class="dropdown-menu mega-menu shadow">
                            <!-- Mega menü -->
                            @if (@item.parentSubCategory != null)
                            {
                                <ul>
                                    <li class="dropend">
                                        <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">@item.parentSubCategory?.Name</a>
                                        @if (@item.ChildSubCategory != null)
                                        {
                                            <ul class="dropdown-menu shadow">
                                                <li class="dropend">
                                                    <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">@item.ChildSubCategory?.Name</a>
                                                </li>
                                            </ul>
                                        }

                                    </li>
                                </ul>
                            }


                        </div>
                    </li>
                }


            </ul>
        </nav>
    </div>






</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script>
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').mouseenter(function () {
            $(this).next('.dropdown-menu').toggle('fade'); /* Açılma efekti ekleyelim */
        });

        $('.dropdown-menu').mouseleave(function () {
            $(this).toggle('fade'); /* Kapatma efekti ekleyelim */
        });
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $(".iframe").click(function () {         
            var iframeURL = "Basket" ;

           
            $.colorbox({
                iframe: true,
                href: iframeURL,
                width: "90%",
                height: "95%",
                onComplete: function () {
                  
                    var iframe = $(".iframe1");
                    iframe.on("load", function () {
                        

                    });

                   
                    $(".home__section").css("opacity", "0.4");
                },
                onClosed: function () {
                  
                    $(".home__section").css("opacity", "1");
                }
            });
        });
    });

</script>
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').click(function () {
            $(this).next('.dropdown-menu').toggle('fade'); /* Açılma efekti  */
        });
    });
</script>


<!-- Bootstrap 5 JS -->
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'></script>

<script>
    document.addEventListener('click', function (e) {
        // Hamburger menu
        if (e.target.classList.contains('hamburger-toggle')) {
            e.target.children[0].classList.toggle('active');
        }
    })
</script>