@model List<ResultProductPriceDto>



<div class="row mt-5 product__slider">
    <div class="pt-4 col-lg-11 col-md-8 col-sm-8 mobile__slider__nav_newEpisode">
        <div class="section-title">
            <h4 ><i class="fa fa-upload"> </i>&nbsp;Son Eklenenler</h4>
        </div>
    </div>
    <div class="carousel-wrap">
        <div class="owl-carousel owl-2">
            @foreach (var item in Model)
            {
                <div class="item">

                    <div class="product__item__pic set-bg col-md-12" data-setbg="@item.Product.ProductImage">
                        <div class="ep">
                            <i class="icon-heart-o"></i>
                            <i class="icon-heart ep_hover"></i>
                        </div>
                        <button class="col-md-10 basketAdd btn btn-sm btn-danger iframe1" data-product-Id="@item.PriceID" style="position:absolute; left:9%; ">
                            Sepete Ekle
                            <i class="icon-shopping_basket"> </i>
                        </button>
                    </div>
               



                    <div class="product__item__text pl-4">
                        <ul>
                            @if (item.Product.ProductName.Length > 22)
                            {
                                <h5 class="text-dark">
                                    @Html.ActionLink(@item.Product.ProductName.Substring(0, 22), "productDetails", "product"
                                             , new { productID = item.Product.ProductID }, new { @class = "text-dark" }) ..
                                </h5>
                            }
                            else
                            {
                                <h5 class="text-dark">
                                    @Html.ActionLink(@item.Product.ProductName, "productDetails", "product"
                                             , new { productID = item.Product.ProductID }, new { @class = "text-dark" })
                                </h5>
                            }
                            <h5 class=" font-weight-bold">@item.price ₺</h5>
                        </ul>

                    </div>
                </div>
            }

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>


    $('.owl-2').owlCarousel({
        loop: true,
        margin: 30,
        nav: false,

        autoplay: true,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 6
            }
        }
    })
</script>
