	@model List<ResultListFavoriDto>
@{
    ViewData["Title"] = "FavoriList";
    Layout = "~/Views/Layout/LayoutIndex.cshtml";
 
    var appSettings = Context.RequestServices.GetRequiredService<IOptions<AppSettings>>().Value;
	var apiUrl = appSettings.ApiDeleteFavori;
   
}


<div class="page-content">
	<div class="container">
		<table class="table table-wishlist table-mobile">
			<thead>
				<tr>
					<th>Ürün</th>
					<th>Fiyat</th>
					<th>Stok Miktarı</th>
					<th>Renk</th>
					<th>Ebat</th>
					<th></th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td class="product-col">
							<div class="product">
								<figure class="product-media">
									<a href="/product/productDetails?productid=@item.price.Product.ProductID">
										<img src="@item.price.Product.ProductImage" alt="Product image">
									</a>
								</figure>

								<h3 class="product-title">
									<a href="/product/productDetails?productid=@item.price.Product.ProductID">@item.price.Product.ProductName</a>
								</h3><!-- End .product-title -->
							</div><!-- End .product -->
						</td>
						<td class="price-col">@item.price.price ₺</td>
						@if (item.price.Quantity>=1)
						{
							<td class="stock-col"><span class="in-stock">Stokta Var </span></td>
						}else
						{
							<td class="out-of-stock"><span class="out-of-stock">Stok Yok </span></td>
						}

						<td class="price-col">@item.price.color.ColorCode</td>
						<td class="price-col">@item.price.dimensions.En X @item.price.dimensions.Boy</td>
						<td class="price-col">
						@* 	<div class="dropdown">
								<button class="btn btn-block btn-outline-primary-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="icon-list-alt"></i>Select Options
								</button>

								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">First option</a>
									<a class="dropdown-item" href="#">Another option</a>
									<a class="dropdown-item" href="#">The best option</a>
								</div>	
							</div> *@
						</td>
						<td class="remove-col"><a class="btn-remove" data-fav-id="@item.FavoriID"><i class="icon-close"></i></a></td>
					</tr>
				}
			
			
			</tbody>
		</table><!-- End .table table-wishlist -->
		<div class="wishlist-share">
			<div class="social-icons social-icons-sm mb-2">
				<label class="social-label">Share on:</label>
				<a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
				<a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
				<a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
				<a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
				<a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
			</div><!-- End .soial-icons -->
		</div><!-- End .wishlist-share -->
	</div><!-- End .container -->
</div><!-- End .page-content -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
	$(".btn-remove").on("click", function () {
		var favoriid = $(this).data("fav-id");

		$.post("@Html.Raw(apiUrl)" + favoriid)
			.done(function () {
				Swal.fire({
					icon: 'success',
					title: 'Ürün Listeden Kaldırıldı!',
					position: "top-end",
					timer: 1000,
					showConfirmButton: false
				});

				setTimeout(function () {
					location.reload();
				}, 1000);
			})
			.fail(function (xhr, status, error) {
				if (xhr.status == 404) {
					toastr.error('Beklenmeyen bir hata oluştu!', { position: "toast-top-end" });
				} else if (xhr.status == 401) {
					toastr.warning('İşlemi Yapmak İçin Giriş Yapmalısın!', { position: "toast-top-end" });
				} else if (xhr.status == 400) {
					toastr.warning('Bu  Zaten Listende!', { position: "toast-top-end" });
				}
			});

	});


</script>