@model AppUser
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/LayoutIndex.cshtml";
    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var appSettings = Context.RequestServices.GetRequiredService<IOptions<AppSettings>>().Value;
    var apiUrl = appSettings.ApiupdateUserUrl;
    
}

<div class="page-content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                <aside class="col-md-4 col-lg-3">
                    <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" role="tab" aria-controls="tab-dashboard" aria-selected="true">
                                <i class="icon-user"></i>
                                @Model.NameSurname
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Profilim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">

                                Tüm Siparişlerim
                            </a>
                        </li>
                        @*    <li class="nav-item">
                        <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Adres Bilgilerim</a>
                        </li> *@

                        <li class="nav-item">
                            <a class="nav-link" href="/account/SignOutUser">Çıkış Yap</a>
                        </li>
                    </ul>
                </aside><!-- End .col-lg-3 -->

                <div class="col-md-8 col-lg-9">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                            <form class="form" method="post" >
                                <div class="form-group">
                                    <label for="UserName">Kullanıcı Adı</label>
                                    <input class="form-control" type="text" id="UserName" value="@Model.UserName" asp-for="UserName" />
                                </div>
                                <div class="form-group">
                                    <label for="Email">Email Adresi</label>
                                    <input class="form-control" type="email" id="Email" value="@Model.Email" asp-for="Email" />
                                </div>
                                <div class="form-group">
                                    <label for="address">Adresim</label>
                                    <textarea class="form-control" type="text" id="Adrress"  value="@Model.Address" asp-for="Address"> 

                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label for="PhoneNumber">Telefon Numarası</label>
                                    <input class="form-control" type="tel" id="PhoneNumber"
                                           value="(+90) @Model.PhoneNumber.Substring(0, 3) @Model.PhoneNumber.Substring(3, 3) @Model.PhoneNumber.Substring(6, 2) @Model.PhoneNumber.Substring(8)"
                                           asp-for="PhoneNumber" />
                                </div>
                                <div class="form-group">
                                    <label for="CreateDate">Üyelik Tarihi</label>
                                    <input class="form-control" type="date" id="CreateDate" value="@Model.CreateDate.ToString("yyyy-MM-dd")" asp-for="CreateDate" />
                                </div>
                                <button class="btn btn-info" type="submit">
                                    Guncelle
                                </button>
                                @Html.ValidationSummary()
                            </form>

                        </div><!-- .End .tab-pane -->

                        <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                            <p>No order has been made yet.</p>
                            <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- .End .tab-pane -->

                        <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
                            <p>No downloads available yet.</p>
                            <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- .End .tab-pane -->

                        <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                            <p>The following addresses will be used on the checkout page by default.</p>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card card-dashboard">
                                        <div class="card-body">
                                            <h3 class="card-title">Billing Address</h3><!-- End .card-title -->

                                            <p>
                                                User Name<br>
                                                User Company<br>
                                                John str<br>
                                                New York, NY 10001<br>
                                                1-234-987-6543<br>
                                                yourmail@mail.com<br>
                                                <a href="#">Edit <i class="icon-edit"></i></a>
                                            </p>
                                        </div><!-- End .card-body -->
                                    </div><!-- End .card-dashboard -->
                                </div><!-- End .col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="card card-dashboard">
                                        <div class="card-body">
                                            <h3 class="card-title">Shipping Address</h3><!-- End .card-title -->

                                            <p>
                                                You have not set up this type of address yet.<br>
                                                <a href="#">Edit <i class="icon-edit"></i></a>
                                            </p>
                                        </div><!-- End .card-body -->
                                    </div><!-- End .card-dashboard -->
                                </div><!-- End .col-lg-6 -->
                            </div><!-- End .row -->
                        </div><!-- .End .tab-pane -->

                        <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                            <form action="#">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>First Name *</label>
                                        <input type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Last Name *</label>
                                        <input type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label>Display Name *</label>
                                <input type="text" class="form-control" required>
                                <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

                                <label>Email address *</label>
                                <input type="email" class="form-control" required>

                                <label>Current password (leave blank to leave unchanged)</label>
                                <input type="password" class="form-control">

                                <label>New password (leave blank to leave unchanged)</label>
                                <input type="password" class="form-control">

                                <label>Confirm new password</label>
                                <input type="password" class="form-control mb-2">

                                <button type="submit" class="btn btn-outline-primary-2">
                                    <span>SAVE CHANGES</span>
                                    <i class="icon-long-arrow-right"></i>
                                </button>
                            </form>
                        </div><!-- .End .tab-pane -->
                    </div>
                </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .dashboard -->
</div><!-- End .page-content -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Form submit edildiğinde
        $('form').submit(function (e) {
            // Formun normal submit işlemini engelle
            e.preventDefault();
            var formData = {
                UserName: $('#UserName').val(),
                Email: $('#Email').val(),
                Address: $('#Adrress').val(),
                PhoneNumber: $('#PhoneNumber').val(),
                CreateDate: $('#CreateDate').val()
            };
            var userId = '@Html.Raw(userId)'
            console.log(userId)
            $.ajax({
                type: "post",
                url: '@Html.Raw(apiUrl)' + userId, //test et
                data: JSON.stringify(formData),
                contentType: "application/json",
                success: function () {
                    alert("Kullanıcı bilgileri başarıyla güncellendi.");
                    // Burada isterseniz başka bir eylem yapabilirsiniz, örneğin sayfayı yenileyebilirsiniz.
                },
                error: function () {
                    alert("Bir hata oluştu, lütfen tekrar deneyin.");
                }
            });
        });
    });

</script>